{% load static %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="navigation" data-accordion="false">
    <li class="nav-item">
        <a href="{% url 'staff_home' %}" class="nav-link {% if request.path == '/staff_home/' %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_take_attendance' %}"
            class="nav-link {% if request.path == '/staff_take_attendance/' %} active {% endif %}">
            <i class="nav-icon fas fa-calendar-plus"></i>
            <p>Take Attendance</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_update_attendance' %}"
            class="nav-link {% if request.path == '/staff_update_attendance/' %} active {% endif %}">
            <i class="nav-icon fas fa-tasks"></i>
            <p>View Update Attendance</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_apply_leave' %}"
            class="nav-link {% if request.path == '/staff_apply_leave/' %} active {% endif %}">
            <i class="nav-icon fas fa-envelope-open"></i>
            <p>Apply Leave</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_feedback' %}"
            class="nav-link {% if request.path == '/staff_feedback/' %} active {% endif %}">
            <i class="nav-icon fas fa-comment"></i>
            <p>Feedback</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_add_result' %}"
            class="nav-link {% if request.path == '/staff_add_result/' %} active {% endif %}">
            <i class="nav-icon fas fa-poll-h"></i>
            <p>Add Result</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_view_result' %}"
            class="nav-link {% if request.path == '/staff_view_result/' %} active {% endif %}">
            <i class="nav-icon fas fa-poll"></i>
            <p>View Result</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_view_subjects' %}"
            class="nav-link {% if request.path == '/staff_view_subjects/' %} active {% endif %}">
            <i class="nav-icon fas fa-book"></i>
            <p>My Subjects</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_view_students' %}"
            class="nav-link {% if request.path == '/staff_view_students/' %} active {% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>My Students</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_view_announcements' %}"
            class="nav-link {% if request.path == '/staff_view_announcements/' %} active {% endif %}">
            <i class="nav-icon fas fa-bullhorn"></i>
            <p>Announcements</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_view_notifications' %}"
            class="nav-link {% if request.path == '/staff_view_notifications/' %} active {% endif %}">
            <i class="nav-icon fas fa-bell"></i>
            <p>My Notifications</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'staff_profile' %}"
            class="nav-link {% if request.path == '/staff_profile/' %} active {% endif %}">
            <i class="nav-icon fas fa-user"></i>
            <p>Edit Profile</p>
        </a>
    </li>
</ul>