{% extends 'base.html' %}
{% block page_title %}Update Attendance{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h3 class="card-title">Update Attendance</h3></div>
        <div class="card-body">
            <div class="form-group"><label>Subject</label><select class="form-control" id="subject"><option value="">Select Subject</option>{% for subject in subjects %}<option value="{{ subject.id }}">{{ subject.subject_name }}</option>{% endfor %}</select></div>
            <div class="form-group"><label>Session Year</label><select class="form-control" id="session_year_id"><option value="">Select Session</option>{% for session in session_years %}<option value="{{ session.id }}">{{ session.session_start_year }} - {{ session.session_end_year }}</option>{% endfor %}</select></div>
            <button type="button" class="btn btn-primary" id="fetch_dates">Fetch Attendance Dates</button>
            <hr>
            <div id="attendance_dates"></div>
            <div id="student_data"></div>
        </div>
    </div>
</div>
<script>
$('#fetch_dates').click(function(){
    var subject = $('#subject').val();
    var session_year_id = $('#session_year_id').val();
    $.ajax({
        url: '{% url "get_attendance_dates" %}',
        type: 'POST',
        data: {subject:subject, session_year_id:session_year_id},
        success: function(response){
            var data = JSON.parse(response);
            var html = '<div class="form-group"><label>Select Date</label><select class="form-control" id="attendance_date"><option value="">Select Date</option>';
            for(var i=0; i<data.length; i++){
                html += '<option value="'+data[i].id+'">'+data[i].attendance_date+'</option>';
            }
            html += '</select></div><button type="button" class="btn btn-success" id="fetch_students">Fetch Students</button>';
            $('#attendance_dates').html(html);
        }
    });
});
$(document).on('click', '#fetch_students', function(){
    var attendance_date = $('#attendance_date').val();
    $.ajax({
        url: '{% url "get_attendance_student" %}',
        type: 'POST',
        data: {attendance_date:attendance_date},
        success: function(response){
            var data = JSON.parse(response);
            var html = '<table class="table table-bordered"><thead><tr><th>Student Name</th><th>Status</th></tr></thead><tbody>';
            for(var i=0; i<data.length; i++){
                html += '<tr><td>'+data[i].name+'</td><td><input type="checkbox" name="student_ids" value="'+data[i].id+'" '+(data[i].status ? 'checked' : '')+'> Present</td></tr>';
            }
            html += '</tbody></table><button type="button" class="btn btn-success" id="update_attendance">Update Attendance</button>';
            $('#student_data').html(html);
        }
    });
});
$(document).on('click', '#update_attendance', function(){
    var attendance_date = $('#attendance_date').val();
    var student_ids = [];
    $('input[name="student_ids"]:checked').each(function(){
        student_ids.push($(this).val());
    });
    $.ajax({
        url: '{% url "update_attendance_data" %}',
        type: 'POST',
        data: {attendance_date:attendance_date, student_ids:JSON.stringify(student_ids)},
        success: function(response){
            if(response == "OK"){
                alert('Attendance updated successfully');
                location.reload();
            } else {
                alert('Failed to update');
            }
        }
    });
});
</script>
{% endblock %}
