{% extends 'base.html' %}

{% block page_title %}
Add Session Year
{% endblock page_title %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Session Year</h3>
                </div>
                
                <form role="form" method="post" action="{% url 'add_session_save' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        <div class="form-group">
                            <label>Session Start Year</label>
                            <input type="date" class="form-control" name="session_start_year" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Session End Year</label>
                            <input type="date" class="form-control" name="session_end_year" required>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add Session</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
